# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app audiobookshelf
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  values:
    controllers:
      audiobookshelf:
        replicas: 1
        pod:
          securityContext:
            runAsUser: &uid 1002
            runAsGroup: &gid 100
            fsGroup: 100
            fsGroupChangePolicy: OnRootMismatch
        containers:
          audiobookshelf:
            image:
              repository: ghcr.io/advplyr/audiobookshelf
              tag: 2.32.1@sha256:f903aeade7ecf8beb2a5fd63411910705f7cff8d1acddb1a37a9171ef171b849
            env:
              TZ: Europe/Lisbon
              PORT: &port 8080
              AUDIOBOOKSHELF_UID: *uid
              AUDIOBOOKSHELF_GID: *gid
              CONFIG_PATH: /config
              METADATA_PATH: /config/metadata
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: *port
              readiness: *probes
            resources:
              requests:
                cpu: 50m
                memory: 200Mi
              limits:
                memory: 600Mi
    service:
      audiobookshelf:
        controller: audiobookshelf
        ports:
          http:
            port: *port
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - audiobooks.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: audiobookshelf
      downloads:
        type: nfs
        server: 192.168.1.84
        path: /downloads
        globalMounts:
          - path: /audiobooks
