# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: postgres-backup
spec:
  targetNamespace: backup
  path: ./k8s/apps/backup/postgres/cron
  dependsOn:
    - name: external-secrets-store
      namespace: external-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
    namespace: flux-system
  healthChecks:
    - apiVersion: fluxcd.controlplane.io/v1
      kind: ResourceSet
      name: postgresbackup
      namespace: backup
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
