# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: home-cluster
endpoint: https://192.168.1.110:6443
talosVersion: v1.11.5
kubernetesVersion: v1.34.2
additionalMachineCertSans:
  - "192.168.1.110"
  - "127.0.0.1"
additionalApiServerCertSans:
  - "127.0.0.1"
cniConfig:
  name: none
patches:
  - "@patches/kubelet-certificates.yaml"
controlPlane:
  patches:
    # Disable search domain everywhere
    - &domainPatch |-
      machine:
        network:
          disableSearchDomain: true
    # Enable KubePrism
    - &kubePrismPatch |-
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445
    # Cluster configuration
    - &proxyPatch |-
      cluster:
        allowSchedulingOnMasters: false
        proxy:
          disabled: true
    # Configure containerd
    - &containerdPatch |-
      machine:
        files:
          - path: /etc/cri/conf.d/20-customization.part
            op: create
            content: |
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
    # Configure NFS mount options
    - &nfsPatch |-
      machine:
        files:
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              noatime=True
              nodiratime=True
              rsize=131072
              wsize=131072
              nconnect=8
    # ETCD configuration
    - |-
      cluster:
        etcd:
          extraArgs:
            listen-metrics-urls: http://0.0.0.0:2381
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - system-upgrade
worker:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/iscsi-tools
          - siderolabs/util-linux-tools
  patches:
    - *domainPatch
    - *kubePrismPatch
    - *proxyPatch
    - *nfsPatch
    - *containerdPatch
nodes:
  - hostname: bmax1-master
    ipAddress: 192.168.1.81
    controlPlane: true
    nodeAnnotations:
      installerImage: '{{ .MachineConfig.MachineInstall.InstallImage }}'
    installDisk: /dev/mmcblk0
    nameservers:
      - "192.168.1.139"
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "00:e0:4c:2f:69:52"
          physical: true
        addresses:
          - 192.168.1.81/24
        dhcp: true
        vip:
          ip: 192.168.1.110
        mtu: 1500
    machineSpec:
      mode: metal
      arch: amd64
  - hostname: hp-worker3
    ipAddress: 192.168.1.93
    nameservers:
      - "192.168.1.139"
    installDisk: /dev/sda
    controlPlane: false
    nodeAnnotations:
      installerImage: '{{ .MachineConfig.MachineInstall.InstallImage }}'
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "74:46:a0:90:26:0f"
          physical: true
        addresses:
          - 192.168.1.93/24
        dhcp: true
        mtu: 1500
    machineSpec:
      mode: metal
      arch: amd64
    userVolumes:
      - name: longhorn
        provisioning:
          diskSelector:
            match: disk.model == "SanDisk SSD PLUS" && !system_disk
          minSize: "200GiB"
        filesystem:
          type: xfs
    patches:
      - |-
        machine:
          kubelet:
            extraConfig:
              registerWithTaints:
                - effect: NoSchedule
                  key: node
                  value: storage
            extraMounts:
              - destination: /var/mnt/longhorn
                type: bind
                source: /var/mnt/longhorn
                options:
                  - bind
                  - rshared
                  - rw
  - hostname: hp-worker2
    ipAddress: 192.168.1.92
    nameservers:
      - "192.168.1.139"
    installDisk: /dev/sda
    controlPlane: false
    nodeAnnotations:
      installerImage: '{{ .MachineConfig.MachineInstall.InstallImage }}'
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "10:60:4b:73:34:97"
          physical: true
        dhcp: true
        addresses:
          - 192.168.1.92/24
        mtu: 1500
    machineSpec:
      mode: metal
      arch: amd64
    userVolumes:
      - name: longhorn
        provisioning:
          diskSelector:
            match: disk.model == "Apacer AS340 240" && !system_disk
          minSize: "200GiB"
        filesystem:
          type: xfs
    patches:
      - |-
        machine:
          kubelet:
            extraConfig:
              registerWithTaints:
                - effect: NoSchedule
                  key: node
                  value: storage
            extraMounts:
              - destination: /var/mnt/longhorn
                type: bind
                source: /var/mnt/longhorn
                options:
                  - bind
                  - rshared
                  - rw
  - hostname: hp-worker1
    ipAddress: 192.168.1.91
    nameservers:
      - "192.168.1.139"
    installDisk: /dev/sda
    controlPlane: false
    nodeAnnotations:
      installerImage: '{{ .MachineConfig.MachineInstall.InstallImage }}'
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "c4:65:16:16:e2:b8"
          physical: true
        addresses:
          - 192.168.1.91/24
        dhcp: true
        mtu: 1500
    machineSpec:
      mode: metal
      arch: amd64
  - hostname: localstorage-worker1
    ipAddress: 192.168.1.101
    nameservers:
      - "192.168.1.139"
    installDisk: /dev/sdb
    controlPlane: false
    nodeAnnotations:
      installerImage: '{{ .MachineConfig.MachineInstall.InstallImage }}'
    patches:
    - |-
      machine:
        kubelet:
          extraMounts:
            - destination: /var/openebs/local
              type: bind
              source: /var/openebs/local
              options: ["bind", "rshared", "rw"]
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "00:e0:4c:73:3b:3b"
          physical: true
        addresses:
          - 192.168.1.101/24
        dhcp: true
        mtu: 1500
    machineSpec:
      mode: metal
      arch: amd64
