apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: akeyless-backup
  namespace: backup
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile: {type: RuntimeDefault}
    controllers:
      pg-backup-s3:
        type: cronjob
        cronjob:
          suspend: false
          concurrencyPolicy: Forbid
          timeZone: ${TIMEZONE}
          schedule: "0 0 * * 0"
          startingDeadlineSeconds: 30
          successfulJobsHistory: 1
          failedJobsHistory: 1
          backoffLimit: 3
          parallelism: 0
        containers:
          app:
            image:
              repository: ghcr.io/jdavid77/akeyless-to-s3
              tag: 1.0.2
              pullPolicy: Always
            env:
              AKEYLESS_GATEWAY_URL: "https://api.akeyless.io"
              BASE_PATH: "/"
              AWS_REGION: "us-east-1"
              S3_BUCKET: akeyless-backups
              S3_ENDPOINT: "http://garage.storage.svc.cluster.local:3900"
              LOG_LEVEL: info
              LOG_FORMAT: console
            envFrom:
              - secretRef:
                  name: akeyless-backup-secret