apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret akeyless-backup-secret
  namespace: backup
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *secret
    template:
      engineVersion: v2
      data:
        AWS_ACCESS_KEY_ID: "{{ .GARAGE_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .GARAGE_KEY_SECRET }}"
        AKEYLESS_ACCESS_ID: "{{ .AKEYLESS_ACCESS_ID }}"
        AKEYLESS_ACCESS_KEY: "{{ .AKEYLESS_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: /garage/key
    - extract:
        key: /akeyless/key
