# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app excalidash
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      excalidash:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          backend:
            image:
              repository: zimengxiong/excalidash-backend
              tag: 0.3.2@sha256:f0688428aa74830b77fc06b67ace053b2dd827ace5002edc18ccaf3e29a97e15
            env:
              DATABASE_URL: file:/app/prisma/dev.db
              PORT: 8000
              NODE_ENV: production
              FRONTEND_URL: https://excalidash.jnobrega.com
            probes:
              liveness: &probes-backend
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8000
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes-backend
          frontend:
            image:
              repository: zimengxiong/excalidash-frontend
              tag: 0.4.27@sha256:242629350b06189234ff59900d302570220d0c91c1882d3acb512b737bf95931
            env:
              BACKEND_URL: localhost:8000
            probes:
              liveness: &probes-frontend
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes-frontend
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      main:
        hostnames: ["excalidash.jnobrega.com"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: websecure
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          excalidash:
            backend:
              - path: /app/prisma
