# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app excalidash
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      excalidash:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          backend:
            image:
              repository: zimengxiong/excalidash-backend
              tag: 0.1.7@sha256:367ab136b8ec76766c450ff2285f51d94f8a99848113d924dd31aae02049ecbe
            env:
              DATABASE_URL: file:/app/prisma/dev.db
              PORT: 8000
              NODE_ENV: production
            probes:
              liveness: &probes-backend
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8000
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes-backend
          frontend:
            image:
              repository: zimengxiong/excalidash-frontend
              tag: 0.1.6@sha256:e78d654f5c8fbba351e2ae3fa2eb4db3bcb1edf8dc833027d8df04ee67f26137
            probes:
              liveness: &probes-frontend
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes-frontend
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      main:
        hostnames: ["excalidash.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: websecure
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          excalidash:
            backend:
              - path: /app/prisma
