apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helm-release.yaml
  - route.yaml
configMapGenerator:
  - name: flux-operator-helm-values
    files:
      - values.yaml=./values.yaml
configurations:
  - kustomizeconfig.yaml
