---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app grist
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: grist-secret
        containers:
          app:
            image:
              repository: gristlabs/grist
              tag: 1.7.10@sha256:93dd0f7b97a7864cd0a9101a283385e30754dd5ee0e967ba95a8c19caae43056
            envFrom:
              - secretRef:
                  name: grist-secret
            env:
              GRIST_ORG_IN_PATH: true
              GRIST_FORCE_LOGIN: true
              APP_HOME_URL: https://sheets.jnobrega.com
              GRIST_WIDGET_LIST_URL: "https://github.com/gristlabs/grist-widget/releases/download/latest/manifest.json"
              GRIST_OIDC_SP_IGNORE_EMAIL_VERIFIED: true
              TYPEORM_TYPE: postgres
              GRIST_OFFER_ALL_LANGUAGES: false
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 750Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8484

    route:
      app:
        hostnames:
          - "sheets.jnobrega.com"
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        rules:
          - backendRefs:
              - name: *app
                port: *port
            timeouts:
              request: 0s # websocket, never time out
              backendRequest: 0s # websocket, never time out

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /persist