# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: weave-gitops
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: weave-gitops
    namespace: flux-system
  values:
    adminUser:
      create: true
      createSecret: false
      username: admin
    networkPolicy:
      create: false
    metrics:
      enabled: false
    rbac:
      create: true
      impersonationResourceNames: ["admin"]
    podAnnotations:
      secret.reloader.stakater.com/reload: cluster-user-auth
