# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mosquitto
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      mosquitto:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
              pullPolicy: IfNotPresent
            command: ["/bin/sh", "-c"]
            args:
              - |
                cp /tmp/secret/* /mosquitto/external_config/;
                chmod 600 /mosquitto/external_config/passwdfile.pwd;
                mosquitto_passwd -U /mosquitto/external_config/passwdfile.pwd;
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22-openssl
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 16Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          mqtts:
            port: &mqtts-port 8883
          mqtt:
            port: &mqtt-port 1883
    route:
      tcp:
        enabled: true
        kind: TCPRoute
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: tcp
        rules:
          - backendRefs:
              - name: *app
                port: *mqtt-port
            matches:
              - path:
                  type: PathPrefix
                  value: /
      tls:
        enabled: true
        kind: TLSRoute
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: tls
        rules:
          - backendRefs:
              - name: *app
                port: *mqtts-port
            matches:
              - path:
                  type: PathPrefix
                  value: /
    persistence:
      config-file:
        type: configMap
        name: mosquitto-config
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/config/mosquitto.conf
                subPath: mosquitto.conf
              - path: /mosquitto/external_config/aclfile.acl
                subPath: aclfile.acl
      secret-file:
        type: secret
        name: mosquitto-secret
        advancedMounts:
          mosquitto:
            init-config:
              - path: /tmp/secret
      certs:
        type: secret
        name: jnobrega.com-tls
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/certs
      external-config:
        type: emptyDir
        globalMounts:
          - path: /mosquitto/external_config
      logs:
        type: emptyDir
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/log
