apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: dns-cidrs
spec:
  hostname: dns-cidrs
  proxyClass: kernel-org-tun
  subnetRouter:
    advertiseRoutes:
      - 192.168.1.251/32
      - 192.168.1.139/32
