# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vaultwarden
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      vaultwarden:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: vaultwarden-secret
        containers:
          vaultwarden:
            image:
              repository: vaultwarden/server
              tag: 1.35.2-alpine@sha256:dc364d362273e5604b13b02059dc98d60471e885c0a831e26be6c05ed5d488d0
            env:
              DOMAIN: "https://vaultwarden.jnobrega.com"
              TZ: Europe/Lisbon
              SIGNUPS_ALLOWED: "false"
              INVITATIONS_ALLOWED: "true"
              WEBSOCKET_ENABLED: "true"
              WEBSOCKET_ADDRESS: 0.0.0.0
              WEBSOCKET_PORT: 3012
              SMTP_HOST: mail.gmx.com
              SMTP_FROM_NAME: Vaultwarden
              SMTP_PORT: 587
              SMTP_SECURITY: "starttls"
              ADMIN_TOKEN: ${VAULTWARDEN_ADMIN_TOKEN_HASHED}
              TRASH_AUTO_DELETE_DAYS: 7
              PASSWORD_HINTS_ALLOWED: false
            envFrom:
              - secretRef:
                  name: vaultwarden-secret
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
              startup: *probes
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 250Mi
    service:
      vaultwarden:
        controller: vaultwarden
        ports:
          http:
            port: &port 80
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - vaultwarden.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
