# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: x509-certificate-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: x509-certificate-exporter
      version: 3.19.1
      sourceRef:
        kind: HelmRepository
        name: enix-charts
        namespace: flux-system
  values:
    image:
      registry: quay.io
    prometheusRules:
      warningDaysLeft: 14
      criticalDaysleft: 7
    grafana:
      createDashboard: false
