# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: longhorn
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    metrics:
      serviceMonitor:
        enabled: true
    persistence:
      defaultClass: true
      defaultClassReplicaCount: 3
      reclaimPolicy: Retain
    defaultSettings:
      defaultReplicaCount: "3"
      autoCleanupSystemGeneratedSnapshot: true
      backupstorePollInterval: 0
      createDefaultDiskLabeledNodes: true
      restoreVolumeRecurringJobs: true
      storageMinimalAvailablePercentage: "20"
      guaranteedEngineManagerCPU: "20"
      guaranteedReplicaManagerCPU: "20"
      orphanAutoDeletion: true
      concurrentAutomaticEngineUpgradePerNodeLimit: "3"
      defaultLonghornStaticStorageClass: longhorn
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      upgradeChecker: false
    longhornManager:
      nodeSelector:
        storage: longhorn
    longhornDriver:
      nodeSelector:
        storage: longhorn
    longhornUI:
      nodeSelector:
        storage: longhorn
