apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: littlelink
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  driftDetection:
    mode: enabled
  values:
    controllers:
      littlelink:
        replicas: 1
        containers:
          app:
            image:
              repository: ghcr.io/techno-tim/littlelink-server
              tag: latest@sha256:e84ea9d93b60362cf9e292dba43adb604e375d9206d5fcf1de6bb766a20aabd1
            env:
              TZ: Europe/Lisbon
              META_TITLE: Jo칚o David N칩brega
              META_DESCRIPTION: Jo칚o David N칩brega Link Page
              META_KEYWORDS: Devops
              META_AUTHOR: Jo칚o David N칩brega
              META_LANG: en
              META_INDEX_STATUS: all
              OG_SITE_NAME: Jo칚o David N칩brega Links
              OG_TITLE: Jo칚o David N칩brega Links
              OG_DESCRIPTION: A collection of all of my relevant links
              OG_URL: https://links.jnobrega.com
              AVATAR_URL: https://avatars.githubusercontent.com/u/49655819?v=4
              AVATAR_2X_URL: https://avatars.githubusercontent.com/u/49655819?v=4
              NAME: "@joaodavid77"
              THEME: Dark
              BIO: "DevOps Engineer | Homelab | 游왫릖"
              BUTTON_ORDER: GITHUB,LINKED_IN,MEDIUM,LIVEMETRICS,CV,EMAIL
              CUSTOM_BUTTON_TEXT: 'HomeLab Live Metrics, Curriculum Vitae'
              CUSTOM_BUTTON_URL: 'https://live.jnobrega.com,https://cv.jnobrega.com'
              CUSTOM_BUTTON_COLOR: '#F59E0B,#00CC00'
              CUSTOM_BUTTON_TEXT_COLOR: '#ffffff,#ffffff'
              CUSTOM_BUTTON_ALT_TEXT: 'HomeLab Live Metrics,Curriculum Vitae'
              CUSTOM_BUTTON_NAME: 'LIVEMETRICS,CV'
              CUSTOM_BUTTON_ICON: 'fas fa-computer,fas fa-file'
              GITHUB: https://github.com/Jdavid77
              LINKED_IN: https://www.linkedin.com/in/joaodavid77/
              MEDIUM: https://medium.com/@johnynobrega17
              EMAIL: johnynobrega17@gmail.com
              EMAIL_TEXT: Email me!
              FOOTER: Jo칚o David N칩brega 춸 2024-Present
            resources:
              requests:
                memory: 64M
              limits:
                memory: 100M
    service:
      app:
        controller: littlelink
        ports:
          http:
            port: &port 3000
    route:
      main:
        hostnames: ["links.jnobrega.com"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: websecure
        rules:
          - backendRefs:
              - name: littlelink
                port: *port
