apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: littlelink
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      littlelink:
        containers:
          app:
            image:
              repository: ghcr.io/techno-tim/littlelink-server
              tag: latest@sha256:e84ea9d93b60362cf9e292dba43adb604e375d9206d5fcf1de6bb766a20aabd1
            env:
              TZ: ${TIMEZONE}
              META_TITLE: Jo칚o David N칩brega
              META_DESCRIPTION: Jo칚o David N칩brega Link Page
              META_KEYWORDS: Devops
              META_AUTHOR: Jo칚o David N칩brega
              META_LANG: en
              META_INDEX_STATUS: all
              OG_SITE_NAME: Jo칚o David N칩brega Links
              OG_TITLE: Jo칚o David N칩brega Links
              OG_DESCRIPTION: A collection of all of my relevant links
              OG_URL: https://links.${SECRET_DOMAIN}
              AVATAR_URL: https://media.licdn.com/dms/image/v2/D4D03AQHy9TDTu7zkCg/profile-displayphoto-shrink_200_200/B4DZS.wWQhH0AY-/0/1738367133219?e=1758153600&v=beta&t=s4XqbVNpHP5PT3RAiXK9PWA-kkBlnAlhXC89yH4z7Oo
              AVATAR_2X_URL: https://media.licdn.com/dms/image/v2/D4D03AQHy9TDTu7zkCg/profile-displayphoto-shrink_200_200/B4DZS.wWQhH0AY-/0/1738367133219?e=1758153600&v=beta&t=s4XqbVNpHP5PT3RAiXK9PWA-kkBlnAlhXC89yH4z7Oo
              NAME: "@joaodavid77"
              THEME: Dark
              BIO: "DevOps Engineer | Homelab | 游왫릖"
              BUTTON_ORDER: GITHUB,LINKED_IN,MEDIUM,HOMELAB,EMAIL
              CUSTOM_BUTTON_TEXT: HomeLab
              CUSTOM_BUTTON_URL: https://github.com/Jdavid77/home-cluster
              CUSTOM_BUTTON_COLOR: "#784212"
              CUSTOM_BUTTON_TEXT_COLOR: "#ffffff"
              CUSTOM_BUTTON_ALT_TEXT: HomeLab
              CUSTOM_BUTTON_NAME: HOMELAB
              CUSTOM_BUTTON_ICON: fas fa-computer
              GITHUB: https://github.com/Jdavid77
              LINKED_IN: https://www.linkedin.com/in/joaodavid77/
              MEDIUM: https://medium.com/@johnynobrega17
              EMAIL: johnynobrega17@gmail.com
              EMAIL_TEXT: Email me!
              FOOTER: Jo칚o David N칩brega 춸 2024-Present
            resources:
              requests:
                memory: 64M
              limits:
                memory: 100M
    service:
      app:
        controller: littlelink
        ports:
          http:
            port: &port 3000
    route:
      main:
        hostnames: ["links.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: websecure
        rules:
          - backendRefs:
              - name: littlelink
                port: *port
