# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kubernetes-live-metrics-dashboard
  namespace: flux-system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        replicas: 1
        strategy: RollingUpdate
        containers:
          backend:
            image:
              repository: ghcr.io/jdavid77/kubernetes-live-metrics-dashboard-backend
              tag: 1.1.5 # {"$imagepolicy": "flux-system:kubernetes-live-metrics-dashboard-backend:tag"}
            env:
              CORS_ORIGIN: https://live.jnobrega.com
              PORT: "8000"
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
              startup: *probes
            resources:
              limits:
                memory: 75Mi
              requests:
                cpu: 50m
            securityContext:
              runAsNonRoot: true
              runAsUser: 65534
              runAsGroup: 65534
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
          frontend:
            image:
              repository: ghcr.io/jdavid77/kubernetes-live-metrics-dashboard-frontend
              tag: 1.1.5 # {"$imagepolicy": "flux-system:kubernetes-live-metrics-dashboard-frontend:tag"}
            env:
              REACT_APP_REFRESH_INTERVAL: "5000"
              REACT_APP_LOGO_URL: https://media.licdn.com/dms/image/v2/D4D03AQHorpRD5YgBMg/profile-displayphoto-scale_400_400/B4DZjw1Nr0GsAg-/0/1756387141407?e=1773273600&v=beta&t=r4mP5eAT28PIUgzd5Kp4PHpYaM2Nay0g7fjGEFr_8hA
              REACT_APP_GITHUB_URL: https://github.com/Jdavid77/home-cluster
              REACT_APP_LINKEDIN_URL: https://www.linkedin.com/in/joaodavid77/
              REACT_APP_INFRA_OS: Talos
              REACT_APP_INFRA_STORAGE: Longhorn/OpenEBS
              REACT_APP_INFRA_CNI: Cilium
              REACT_APP_INFRA_LOAD_BALANCER: Envoy Gateway
              REACT_APP_INFRA_GITOPS: "Flux CD"
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
              startup: *probes
            resources:
              limits:
                memory: 150Mi
              requests:
                cpu: 50m
            securityContext:
              runAsNonRoot: true
              runAsUser: 101
              runAsGroup: 101
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      imagePullSecrets:
        - name: live-metrics-gh
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: external
            namespace: network
            sectionName: websecure
        hostnames:
          - live.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: &port 8080
    service:
      main:
        controller: *app
        ports:
          http:
            port: *port
    serviceAccount:
      *app:
        enabled: true
    rbac:
      roles:
        live-metrics-role:
          enabled: true
          type: ClusterRole
          rules:
            - apiGroups: [""]
              resources: ["pods", "nodes", "services"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["apps"]
              resources: ["deployments"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["networking.k8s.io"]
              resources: ["ingresses"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["gateway.networking.k8s.io"]
              resources: ["gateways", "httproutes"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["metrics.k8s.io"]
              resources: ["pods", "nodes"]
              verbs: ["get", "list"]
      bindings:
        live-metrics-binding:
          enabled: true
          type: ClusterRoleBinding
          roleRef:
            kind: ClusterRole
            identifier: live-metrics-role
          subjects:
            - identifier: *app
