apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret live-metrics-gh
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    creationPolicy: Owner
    deletionPolicy: "Delete"
    template:
      engineVersion: v2
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: "{{ .dockersecret | toString }}"
    name: *secret
  data:
  - secretKey: dockersecret
    remoteRef:
      key: /live-metrics/gh
