# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret sonarqube-db-secret
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *secret
    creationPolicy: Owner
    deletionPolicy: "Delete"
    template:
      engineVersion: v2
      data:
        POSTGRES_JDBC_URL: jdbc:postgresql://${NFS_SERVER}/sonarqube
        POSTGRES_JDBC_USERNAME: "{{ .POSTGRES_USER }}"
        POSTGRES_JDBC_PASSWORD: "{{ .POSTGRES_PASS }}"
  dataFrom:
    - extract:
        key: /sonarqube/db