# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: network
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: external-dns
    namespace: flux-system
  install:
    disableSchemaValidation: true
    remediation:
      retries: 3
  upgrade:
    disableSchemaValidation: true
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: DoesNotExist
    interval: 5m
    logLevel: debug
    provider:
      name: cloudflare
    env:
      - name: CF_API_EMAIL
        valueFrom:
          secretKeyRef:
            name: externaldns-secrets
            key: EMAIL
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: externaldns-secrets
            key: API_TOKEN
    extraArgs:
      - --cloudflare-proxied
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --gateway-name=external
    policy: sync
    sources:
      - crd
      - gateway-httproute
    txtPrefix: "k8s."
    txtOwnerId: "network"
    domainFilters:
      - "jnobrega.com"
    podAnnotations:
      secret.reloader.stakater.com/reload: externaldns-secrets
    serviceMonitor:
      enabled: true
    resources:
      requests:
        memory: 100Mi
        cpu: 25m
      limits:
        memory: 250Mi
