# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: tailscale-operator
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    operatorConfig:
      hostname: "tailscale-operator"
      defaultTags:
        - "tag:k8s"
    apiServerProxyConfig:
      mode: "true"
  valuesFrom:
    - kind: Secret
      name: tailscale-operator-secret
      valuesKey: CLIENT_ID
      targetPath: oauth.clientId
    - kind: Secret
      name: tailscale-operator-secret
      valuesKey: CLIENT_SECRET
      targetPath: oauth.clientSecret
