# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: trip
spec:
  targetNamespace: default
  dependsOn:
    - name: volsync
      namespace: backup
  path: ./k8s/apps/default/trip/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
    namespace: flux-system
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: trip
      namespace: default
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
