apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./namespace.yaml
  - ./qbittorrent/ks.yaml
  - ./audiobookshelf/ks.yaml
  - ./metube/ks.yaml
  - ./immich/ks.yaml
  - ./ephemera/ks.yaml
  - ./booklore/ks.yaml
components:
  - ../../components/alerts/alertmanager