---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app postgresus
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      postgresus:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: rostislavdugin/postgresus
              tag: v1.34.0@sha256:d925c29a1ce9adc31ef2ccf0e9c40f9bf58f5f9d657212f39a1f77cd18a91b04
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/system/health
                    port: &port 4005
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/system/health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 20
                  timeoutSeconds: 1
                  failureThreshold: 3
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - postgresus.${SECRET_DOMAIN}
        rules:
          - backendRefs:
              - name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /postgresus-data
            readOnly: false
