# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-web
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  values:
    controllers:
      calibre-web:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        # pod:
        #   securityContext:
        #     runAsUser: 1002
        #     runAsGroup: 100
        #     fsGroup: 100
        #     fsGroupChangePolicy: "OnRootMismatch"
        containers:
          calibre-web:
            image:
              repository: docker.io/crocodilestick/calibre-web-automated
              tag: V3.1.4
            env:
              CACHE_DIR: /cache
              CALIBRE_PORT: &port 8083
              TZ: Europe/Lisbon
              PUID: 1002
              PGID: 100
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 250m
                memory: 500M
              limits:
                cpu: 500m
                memory: 900M
    service:
      calibre-web:
        controller: calibre-web
        ports:
          http:
            port: *port
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - books.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
    persistence:
      config:
        existingClaim: calibre-web
        advancedMounts:
          calibre-web:
            calibre-web:
              - path: /config
      media:
        type: nfs
        server: 192.168.1.84
        path: /ebooks
        globalMounts:
          - path: /calibre-library
      ingests:
        type: nfs
        server: 192.168.1.84
        path: /book-ingests
        globalMounts:
          - path: /cwa-book-ingest
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
