apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: basicauthmiddleware
  namespace: network
  annotations:
    fluxcd.controlplane.io/reconcile: "enabled"
    fluxcd.controlplane.io/reconcileEvery: "30m"
spec:
  inputs:
    - namespace: default
      name: renderercv
  resourcesTemplate: |
    ---
    apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: basic-auth-<< inputs.name >>
      namespace: << inputs.namespace >>
    spec:
      basicAuth:
        secret: << inputs.name >>-secret
