# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stirling-pdf
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  interval: 30m
  values:
    controllers:
      stirling:
        labels:
          sablier.enable: "true"
          sablier.group: books
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/stirling-tools/s-pdf
              tag: 1.6.0@sha256:1f73a8f898fe269cbbccea3be577064dd87fc4334de349fcc5b1afa1bcebf240
              pullPolicy: IfNotPresent
            env:
              TZ: ${TIMEZONE}
              DOCKER_ENABLE_SECURITY: "false"
              INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "false"
              SYSTEM_DEFAULTLOCALE: "en-GB"
              SECURITY_ENABLE_LOGIN: "false"
              SYSTEM_ENABLEURLTOPDF: false
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /api/v1/info/status
              readiness: *probe
              startup:
                !!merge <<: *probe
                spec:
                  failureThreshold: 90
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 50m
                memory: 400M
              limits:
                memory: 1000M
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          stirling:
            app:
              - path: /logs
                subPath: logs
              - path: /pipeline
                subPath: pipeline
              - path: /usr/share/tessdata
                subPath: tessdata
              - path: /tmp
                subPath: tmp
              - path: /configs
                subPath: configs
    service:
      stirling:
        controller: stirling
        ports:
          http:
            port: &port 8080
    route:
      main:
        hostnames: ["pdf.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: websecure
        rules:
          - backendRefs:
              - name: *app
                port: *port
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: traefik.io
                  kind: Middleware
                  name: authentik-outpost
