# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stirling-pdf
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  values:
    controllers:
      stirling:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/stirling-tools/s-pdf
              tag: 2.4.0@sha256:9ce8e1811fcbf97f0f720c437d26864c6c33d67878f81922a9478b50c6205196
              pullPolicy: IfNotPresent
            env:
              TZ: Europe/Lisbon
              DOCKER_ENABLE_SECURITY: "false"
              INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "false"
              SYSTEM_DEFAULTLOCALE: "en-GB"
              SECURITY_ENABLE_LOGIN: "false"
              SYSTEM_ENABLEURLTOPDF: false
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /api/v1/info/status
              readiness: *probe
              startup:
                !!merge <<: *probe
                spec:
                  failureThreshold: 90
                  periodSeconds: 5
            resources:
              requests:
                cpu: 50m
                memory: 400M
              limits:
                memory: 1000M
    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          stirling:
            app:
              - path: /logs
                subPath: logs
              - path: /pipeline
                subPath: pipeline
              - path: /usr/share/tessdata
                subPath: tessdata
              - path: /tmp
                subPath: tmp
              - path: /configs
                subPath: configs
    service:
      stirling:
        controller: stirling
        ports:
          http:
            port: &port 8080
    route:
      main:
        hostnames: ["pdf.jnobrega.com"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: websecure
        rules:
          - backendRefs:
              - name: *app
                port: *port
