# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adventurelog
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  uninstall:
    keepHistory: false
  values:
    controllers:
      adventurelog:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
              pullPolicy: IfNotPresent
            envFrom: &secret
              - secretRef:
                  name: adventurelog-secret
        containers:
          frontend:
            image:
              repository: ghcr.io/seanmorley15/adventurelog-frontend
              tag: latest@sha256:7247ee113cd1ce24de958f71f00bc05c0de87102f2807a516bdb35c7294b3d19
            env:
              PUBLIC_SERVER_URL: "https://adventurelog-backend.jnobrega.com"
              BODY_SIZE_LIMIT: Infinity
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
              startup: *probes
            resources:
              requests:
                cpu: 50m
                memory: 100Mi
          server:
            image:
              repository: ghcr.io/seanmorley15/adventurelog-backend
              tag: latest@sha256:445beb68819dd35db51e107e1efb1f4c762185711593c93d3007ffe1c5856b3f
            env:
              PUBLIC_URL: https://adventurelog-backend.jnobrega.com
              FRONTEND_URL: https://adventurelog.jnobrega.com
              CSRF_TRUSTED_ORIGINS: https://adventurelog-backend.jnobrega.com,https://adventurelog.jnobrega.com
              DEBUG: "true"
              DJANGO_ADMIN_USERNAME: admin
            envFrom: *secret
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
              startup: *probes
            resources:
              requests:
                cpu: 125m
                memory: 500Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &frontend-port 3000
          base:
            port: &server-port 8000
    route:
      frontend:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - adventurelog.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *frontend-port
      server:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - adventurelog-backend.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *server-port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /code/media
