# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redlib
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      redlib:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          redlib:
            image:
              repository: quay.io/redlib/redlib
              tag: latest@sha256:dffb6c5a22f889d47d8e28e33411db0fb6c5694599f72cf740c912c12f5fc1c6
            env:
              # instance settings
              REDLIB_ROBOTS_DISABLE_INDEXING: "on"
              # user settings
              REDLIB_DEFAULT_THEME: "dracula"
              REDLIB_DEFAULT_FRONT_PAGE: "all"
              REDLIB_DEFAULT_HIDE_HLS_NOTIFICATION: "on"
              REDLIB_DEFAULT_POST_SORT: "new"
              REDLIB_DEFAULT_LAYOUT: "compact"
              REDLIB_DEFAULT_SHOW_NSFW: "on"
              REDLIB_DEFAULT_USE_HLS: "on"
            envFrom:
              - secretRef:
                  name: redlib-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /settings
                    port: &port 8080
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile: {type: RuntimeDefault}
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - reddit.jnobrega.com
        rules:
          - backendRefs:
              - name: redlib
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
    service:
      redlib:
        controller: redlib
        ports:
          http:
            port: *port
