# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      paperless:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6
            envFrom: &envFrom
              - secretRef:
                  name: paperless-secret
        containers:
          paperless:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.19.4@sha256:7ec0797af256194f6e117d1b7ed3ef91ad31b4a14bf3092abdee6bb74f6b3656
            env:
              COMPOSE_PROJECT_NAME: paperless
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "false"
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "true"
              PAPERLESS_OCR_LANGUAGES: por
              PAPERLESS_OCR_LANGUAGE: por
              PAPERLESS_PORT: &port 8000
              PAPERLESS_DBNAME: paperless
              PAPERLESS_REDIS: redis://dragonfly.storage.svc.cluster.local:6379
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_TIME_ZONE: ${TIMEZONE}
              PAPERLESS_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
            envFrom: *envFrom
            resources:
              requests:
                cpu: 100m
                memory: 1239M
              limits:
                cpu: 250m
                memory: 5000M
    service:
      paperless:
        controller: *app
        ports:
          http:
            port: 8000
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - paperless.${SECRET_DOMAIN}
        rules:
          - backendRefs:
              - name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
    persistence:
      data:
        type: nfs
        server: ${NFS_SERVER}
        path: /paperless-data
        globalMounts:
          - path: /usr/src/paperless/data
      media:
        type: nfs
        server: ${NFS_SERVER}
        path: /paperless-media
        globalMounts:
          - path: /usr/src/paperless/media
      consume:
        type: nfs
        server: ${NFS_SERVER}
        path: /paperless-consume
        globalMounts:
          - path: /usr/src/paperless/consume
      export:
        type: nfs
        server: ${NFS_SERVER}
        path: /paperless-export
        globalMounts:
          - path: /usr/src/paperless/export
