# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  uninstall:
    keepHistory: false
  values:
    controllers:
      paperless:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom: &envFrom
              - secretRef:
                  name: paperless-secret
        containers:
          paperless:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.8@sha256:e231ec11a1907bfdf172b4f120b4ef1994feb71e6cc624e8b88c53e2da3dfb62
            env:
              COMPOSE_PROJECT_NAME: paperless
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "false"
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "true"
              PAPERLESS_OCR_LANGUAGES: por
              PAPERLESS_OCR_LANGUAGE: por
              PAPERLESS_PORT: &port 8000
              PAPERLESS_DBNAME: paperless
              PAPERLESS_REDIS: redis://dragonfly.storage.svc.cluster.local:6379
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_TIME_ZONE: Europe/Lisbon
              PAPERLESS_URL: https://paperless.jnobrega.com
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
            envFrom: *envFrom
            resources:
              requests:
                cpu: 100m
                memory: 1239M
              limits:
                cpu: 250m
                memory: 5000M
    service:
      paperless:
        controller: *app
        ports:
          http:
            port: 8000
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - paperless.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        type: nfs
        server: 192.168.1.84
        path: /paperless-data
        globalMounts:
          - path: /usr/src/paperless/data
      media:
        type: nfs
        server: 192.168.1.84
        path: /paperless-media
        globalMounts:
          - path: /usr/src/paperless/media
      consume:
        type: nfs
        server: 192.168.1.84
        path: /paperless-consume
        globalMounts:
          - path: /usr/src/paperless/consume
      export:
        type: nfs
        server: 192.168.1.84
        path: /paperless-export
        globalMounts:
          - path: /usr/src/paperless/export
