# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      qbittorrent:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/qbittorrent
              tag: 5.0.4@sha256:17e3e5f1c7e7fe81434f9d1f5f2e00da9a67f6dbfda1c988c0619932cb856047
            env:
              TZ: Europe/Lisbon
              QBT_WEBUI_PORT: &port 8080
              QBT_TORRENTING_PORT: &torrentPort 50413
              QBT_Preferences__WebUI__AuthSubnetWhitelistEnabled: true
              QBT_Preferences__WebUI__AuthSubnetWhitelist: |-
                192.168.1.0/24
              QBT_Preferences__WebUI__LocalHostAuth: false
            securityContext:
              runAsNonRoot: true
              runAsUser: 1002
              runAsGroup: 100
              fsGroup: 100
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 25m
                memory: 1Gi
              limits:
                memory: 8Gi
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.1@sha256:1a5bf4b4820a879cdf8d93d7ef0d2d963af56670c9ebff8981860b6804ebc8ab
            env:
              BLOCK_MALICIOUS: "off" # save 300MB of RAM; https://github.com/qdm12/gluetun/issues/2054
              TZ: Europe/Lisbon
              VPN_SERVICE_PROVIDER: nordvpn
              VPN_TYPE: openvpn
              FIREWALL_INPUT_PORTS: *port
              FIREWALL_OUTBOUND_SUBNETS: 10.244.0.0/16,10.96.0.0/12
              UPDATER_PERIOD: 24h
            resources:
              limits:
                squat.ai/tun: "1"
            envFrom:
              - secretRef:
                  name: vpn-secret
            securityContext:
              capabilities: {add: ["NET_ADMIN"]}
              allowPrivilegeEscalation: false
    defaultPodOptions:
      terminationGracePeriodSeconds: 120
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
      bittorrent:
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "192.168.1.250"
        ports:
          bittorrent:
            enabled: true
            port: *torrentPort
            protocol: TCP
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - qb.jnobrega.com
        rules:
          - backendRefs:
              - name: qbittorrent-app
                port: *port
    persistence:
      config:
        existingClaim: qbittorrent
      downloads:
        type: nfs
        server: 192.168.1.84
        path: /downloads
        globalMounts:
          - path: /torrents
