home-cluster-bmax1-master.yaml
home-cluster-hp-worker3.yaml
home-cluster-hp-worker2.yaml
talosconfig
home-cluster-soyo1-master.yaml
home-cluster-soyo2-master.yaml
home-cluster-hp-worker1.yaml
home-cluster-observability-worker1.yaml
home-cluster-localstorage-worker1.yaml
home-cluster-soyo3-master.yaml
