# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app whoami
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 3
  values:
    controllers:
      main:
        replicas: 2
        containers:
          whoami:
            image:
              repository: docker.io/traefik/whoami
              tag: v1.11.0@sha256:200689790a0a0ea48ca45992e0450bc26ccab5307375b41c84dfc4f2475937ab
            env:
              WHOAMI_PORT_NUMBER: &port 80
    service:
      whoami:
        controller: main
        ports:
          http:
            port: 80
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - whoami.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
