# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret filebrowser-restic
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: akeyless-secret-store
  target:
    name: *secret
    creationPolicy: Owner
    deletionPolicy: "Delete"
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: s3:http://garage.storage.svc.cluster.local:3900/filebrowser
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .GARAGE_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .GARAGE_KEY_SECRET }}"
  dataFrom:
    - extract:
        key: /volsync/restic
    - extract:
        key: /garage/key
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: filebrowser
spec:
  sourcePVC: filebrowser
  trigger:
    schedule: "0 0 * * *"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 7
    repository: filebrowser-restic
    volumeSnapshotClassName: longhorn-snapshot-vsc
    cacheCapacity: 512Mi
    cacheStorageClassName: "longhorn-cache"
    cacheAccessModes: ["ReadWriteOnce"]
    storageClassName: "longhorn-snapshot"
    accessModes: ["ReadWriteOnce"]
    moverSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
    retain:
      daily: 7
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/replicationdestination_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: filebrowser
spec:
  trigger:
    manual: restore-once
  restic:
    repository: "filebrowser-restic"
    copyMethod: Snapshot
    volumeSnapshotClassName: longhorn-snapshot-vsc
    cacheStorageClassName: longhorn-cache
    cacheAccessModes: ["ReadWriteOnce"]
    cacheCapacity: 512Mi
    storageClassName: "longhorn-snapshot"
    accessModes: ["ReadWriteOnce"]
    capacity: 512Mi
    moverSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filebrowser
spec:
  accessModes: ["ReadWriteOnce"]
  dataSourceRef:
    kind: ReplicationDestination
    apiGroup: volsync.backube
    name: "filebrowser"
  resources:
    requests:
      storage: "512Mi"
  storageClassName: "longhorn"
