# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sonarqube
spec:
  dependsOn:
    - name: external-secrets-store
  targetNamespace: development
  path: ./k8s/apps/development/sonarqube/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
    namespace: flux-system
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: sonarqube
      namespace: development
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
