# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: authentik
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    global:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxSurge: 0
          maxUnavailable: 1
      envFrom:
        - secretRef:
            name: *secret
    authentik:
      redis:
        host: dragonfly.storage.svc.cluster.local
        db: 1
    server:
      replicas: 3
      initContainers:
        - name: init-db
          image: ghcr.io/onedr0p/postgres-init:17.4@sha256:43dd04e91e861cf912378bad987afa168fa4f13d05528304907ad0aa351195d6
          envFrom:
            - secretRef:
                name: *secret
      metrics:
        enabled: false
        serviceMonitor:
          enabled: false
      pdb:
        enabled: true
        maxUnavailable: 1
      containerSecurityContext:
        runAsNonRoot: true
        readOnlyRootFilesystem: true
        allowPrivilegeEscalation: false
        seccomProfile:
          type: RuntimeDefault
        capabilities:
          drop:
            - ALL
      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: 150m
          memory: 1Gi
    worker:
      replicas: 3
    prometheus:
      rules:
        enabled: true
