# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: authentik
    namespace: flux-system
  values:
    global:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxSurge: 0
          maxUnavailable: 1
      envFrom:
        - secretRef:
            name: *secret
    server:
      replicas: 3
      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:18.1
          envFrom:
            - secretRef:
                name: *secret
      route:
        main:
          enabled: true
          hostnames:
            - "auth.jnobrega.com"
          parentRefs:
            - name: internal
              namespace: network
              sectionName: websecure
      metrics:
        enabled: false
        serviceMonitor:
          enabled: false
      pdb:
        enabled: true
        maxUnavailable: 1
      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: 150m
          memory: 1Gi
    worker:
      replicas: 1
    prometheus:
      rules:
        enabled: true
