# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: authentik
    namespace: flux-system
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      envFrom:
        - secretRef:
            name: *secret
    server:
      replicas: 2
      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
          envFrom:
            - secretRef:
                name: *secret
      route:
        main:
          enabled: true
          hostnames:
            - "auth.jnobrega.com"
          parentRefs:
            - name: external
              namespace: network
              sectionName: websecure
      metrics:
        enabled: false
        serviceMonitor:
          enabled: false
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 2Gi
    worker:
      replicas: 2
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 2Gi
    prometheus:
      rules:
        enabled: true
