apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: sonarqube
spec:
  hostnames:
    - sonarqube.${SECRET_DOMAIN}
  parentRefs:
    - name: internal
      namespace: network
      sectionName: websecure
  rules:
    - backendRefs:
        - name: sonarqube-sonarqube
          kind: Service
          port: 9000
      matches:
        - path:
            type: PathPrefix
            value: /
