# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app trip
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app :
            image:
              repository: ghcr.io/itskovacs/trip
              tag: 1.40@sha256:9a7d9cf84ac44df908813cb3cfedcb571ffd59c0e2e6a43201baf77e07c2fb4c
            env:
              REGISTER_ENABLE: "false"
              TZ: Europe/Lisbon
              OIDC_DISCOVERY_URL: "https://auth.jnobrega.com/application/o/Trip/.well-known/openid-configuration"
              OIDC_REDIRECT_URI: "https://trip.jnobrega.com/auth"
            envFrom:
              - secretRef:
                  name: trip-secret
            resources:
              requests:
                cpu: 50m
                memory: 200Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8000
    route:
      frontend:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - trip.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/storage
