# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app trip
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app :
            image:
              repository: ghcr.io/itskovacs/trip
              tag: 1.34
            env:
              REGISTER_ENABLE: "false"
              TZ: ${TIMEZONE}
              OIDC_DISCOVERY_URL: "https://auth.${SECRET_DOMAIN}/application/o/Trip/.well-known/openid-configuration"
              OIDC_REDIRECT_URI: "https://trip.${SECRET_DOMAIN}/auth"
            envFrom:
              - secretRef:
                  name: trip-secret
            resources:
              requests:
                cpu: 50m
                memory: 200Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8000
    route:
      frontend:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - trip.${SECRET_DOMAIN}
        rules:
          - backendRefs:
              - name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/storage
