# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app metube
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      metube:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/alexta69/metube
              tag: "2026.02.19@sha256:4bad68f5d369b3e1deda1edd47f42801e76aa545e72df3405998c0f4c2227f13"
            env:
              UID: 1002
              GID: 1002
              DEFAULT_THEME: dark
              STATE_DIR: "/config"
              TEMP_DIR: "/tmp"
              DOWNLOAD_DIR: "/downloads"
              YTDL_OPTIONS: |
                {
                  "format": "bestvideo[height<=1080][vcodec!*=av01]+bestaudio/best",
                  "merge_output_format": "mkv",
                  "verbose": true,
                  "writesubtitles": false,
                  "clean_infojson":true,
                  "writethumbnail":true,
                  "postprocessors": [
                        {"key":"SponsorBlock"},
                        {"key":"EmbedThumbnail"},
                        {"key":"FFmpegMetadata","add_metadata":"True","add_infojson":"True","add_chapters":"False"}
                  ]
                }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1002
        runAsGroup: 1002
        fsGroup: 1002
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: {type: RuntimeDefault}
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8081
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - yt-downloader.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: *app
      downloads:
        type: nfs
        server: 192.168.1.84
        path: /youtube
        globalMounts:
          - path: /downloads
      temp:
        type: emptyDir
        globalMounts:
          - path: /temp
