# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lldap
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      lldap:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: lldap-secret
        # pod:
        #   securityContext:
        #     runAsUser: 1000
        #     runAsGroup: 1000
        #     runAsNonRoot: true
        #     fsGroup: 1000
        #     fsGroupChangePolicy: "OnRootMismatch"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: lldap-secret
        containers:
          lldap:
            image:
              repository: lldap/lldap
              tag: 2026-01-06-alpine-rootless@sha256:824adeb6f765994d09ab2b28b7a5656c13f6d5fbd311b6f6039f07b99f2b3b0e
            command:
              - /app/lldap
            args:
              - run
            env:
              TZ: Europe/Lisbon
              LLDAP_HTTP_PORT: &port 80
              LLDAP_HTTP_URL: https://lldap.jnobrega.com
              LLDAP_LDAP_PORT: &ldapPort 389
            envFrom:
              - secretRef:
                  name: lldap-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    service:
      lldap:
        controller: lldap
        ports:
          http:
            port: *port
          ldap:
            enabled: true
            port: *ldapPort
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - lldap.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        type: emptyDir
        globalMounts:
          - path: /data
