apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard
spec:
  privateKey:
    rotationPolicy: Always
  secretName: "jnobrega.com-tls"
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "jnobrega.com"
  duration: 2160h # 90d
  renewBefore: 720h # 30d before SSL will expire, renew it
  dnsNames:
    - "jnobrega.com"
    - "*.jnobrega.com"
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "iot"
