# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pgadmin
spec:
  chart:
    spec:
      chart: pgadmin4
      version: 1.59.0
      sourceRef:
        kind: HelmRepository
        name: runix-charts
        namespace: flux-system
  interval: 15m
  values:
    env:
      email: admin@jnobrega.com
    existingSecret: pgadmin-credentials
    secretKeys:
      pgadminPasswordKey: PGADMIN_DEFAULT_PASSWORD
    serverDefinitions:
      enabled: true
      resourceType: Secret
      existingSecret: pgadmin-servers
    strategy:
      type: Recreate
    ingress:
      enabled: false
    containerSecurityContext:
      enabled: true
    networkPolicy:
      enabled: false
    persistentVolume:
      enabled: true
      existingClaim: *app
    extraSecretMounts:
      - name: pgpassmain
        secret: pgadmin-servers
        subPath: main.pgpass
        mountPath: "/var/lib/pgadmin/storage/main.pgpass"
        readOnly: true
      - name: pgpassimmich
        secret: pgadmin-servers
        subPath: immich.pgpass
        mountPath: "/var/lib/pgadmin/storage/immich.pgpass"
        readOnly: true
    resources:
      requests:
        cpu: 25m
        memory: 256Mi
      limits:
        memory: 1024Mi
    annotations:
      reloader.stakater.com/search: "true"
