apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tekton-operator
  namespace: tekton-operator
spec:
  interval: 10m
  chart:
    spec:
      chart: ./charts/tekton-operator
      sourceRef:
        kind: GitRepository
        name: tekton
        namespace: flux-system
      interval: 10m
  values:
    installCRDs: true
    service:
      createServiceMonitor: true