apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tekton-operator
  namespace: tekton-operator
spec:
  interval: 10m
  chart:
    spec:
      chart: ./charts/tekton-operator
      sourceRef:
        kind: GitRepository
        name: tekton
        namespace: flux-system
      interval: 10m
  values:
    installCRDs: true
    operator:
      autoInstallComponents: false
      deployment:
        initContainers:
          enabled: true
          containers:
            - envFrom:
              - secretRef:
                  name: tekton-results-postgres
              image: ghcr.io/home-operations/postgres-init:18.1
              name: init-db
    service:
      createServiceMonitor: false
    nodeSelector:
      kubernetes.io/hostname: localstorage-worker1