apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: tekton-dashboard
  namespace: tekton-pipelines
spec:
  hostnames:
  - tekton.${SECRET_DOMAIN}
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: internal
    namespace: network
    sectionName: websecure
  rules:
  - backendRefs:
    - name: tekton-dashboard
      port: 9097
      weight: 1
    matches:
    - path:
        type: PathPrefix
        value: /
