---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app booklore
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  values:
    controllers:
      *app :
        containers:
          *app :
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v1.18.5@sha256:9c4a8a31aede653c1e5bd7a6e61cb3ef63c964e40fb3267546def7b3f30fdf7e

            env:
              TZ: Europe/Lisbon
              PUID: 1002
              PGID: 100
              DATABASE_URL: "jdbc:mariadb://localhost:3306/booklore"
              DATABASE_USERNAME: booklore
              DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: DATABASE_PASSWORD
              SWAGGER_ENABLED: "false"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 6060
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: 3306
                  initialDelaySeconds: 0
                  periodSeconds: 5
                  timeoutSeconds: 3
                  failureThreshold: 30

          mariadb:
            image:
              repository: lscr.io/linuxserver/mariadb
              tag: 11.4.8@sha256:589b6a6fbd7a2d3dd97a5ccaf5333b8b0283a6e434b6c1d4b8f576e826a2aa66

            env:
              TZ: Europe/Lisbon
              MYSQL_USER: booklore
              MYSQL_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: DATABASE_PASSWORD
              MYSQL_DATABASE: booklore
              MYSQL_ROOT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: DATABASE_ROOT_PASSWORD

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - books.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          *app :
            *app :
              - path: /app/data

      config:
        existingClaim: mariadb
        advancedMounts:
          *app :
            mariadb:
              - path: /config

      books:
        type: nfs
        server: 192.168.1.84
        path: /ebooks
        advancedMounts:
          *app :
            *app :
              - path: /books

      bookdrop:
        type: nfs
        server: 192.168.1.84
        path: /book-ingests
        advancedMounts:
          *app :
            *app :
              - path: /bookdrop
