# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-web-downloader
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app:
        initContainers:
          init:
            image: &image
              repository: ghcr.io/calibrain/calibre-web-automated-book-downloader
              tag: v0.2.4@sha256:b1296c5edc89eee8742d86392ce40707233671044a454e002821e5c76cd58deb
            command:
              - bash
              - -c
              - 'exec cp -r /usr/local/lib/python3.10/site-packages/seleniumbase/drivers/* /mnt'
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ['ALL']}
        containers:
          app:
            image: *image
            env:
              FLASK_DEBUG: false
              AA_BASE_URL: https://annas-archive.li
              INGEST_DIR: &ingest /cwa-book-ingest
              BOOK_LANGUAGE: en
              TZ: ${TIMEZONE}
              FLASK_PORT: &port 8084
              UID: 1002
              GID: 100
              HOME: /tmp
              APP_ENV: prod
            command: [python, -m, app] # don't run annoying init script
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /request/api/status
                    port: *port
              readiness: *probe
              startup: *probe
            securityContext: *securityContext
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1002
        runAsGroup: 100
        fsGroup: 100
        supplementalGroups: [65534] # nobody group, required since calibre-web-automated tries to use root on startup
        fsGroupChangePolicy: 'OnRootMismatch'
    service:
      app:
        ports:
          http:
            port: *port
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - books-downloader.${SECRET_DOMAIN}
        rules:
          - backendRefs:
              - name: *app
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          *app:
            app:
              # chromium needs the XDG_CONFIG_HOME created
              # because user 1000 doesn't exist, ~ = /
              - path: /.config
                subPath: config
              - path: /tmp
                subPath: tmp
              - path: /var/log/cwa-book-downloader/
                subPath: log
              - path: /app/downloaded_files
                subPath: download
              - path: /usr/local/lib/python3.10/site-packages/seleniumbase/drivers
                subPath: drivers
            init:
              - path: /mnt
                subPath: drivers
      ingests:
        type: nfs
        server: ${NFS_SERVER}
        path: /book-ingests
        advancedMounts:
          *app:
            app:
              - path: *ingest
