# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app renderercv
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      *app :
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/rendercv/rendercv
              tag: v2.5@sha256:5416b2f6f3ef827ffc3d8b81f6918e7b29722fd27d46baaf73dab64a5054b81e
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
              startup: *probes
            resources:
              limits:
                memory: 100Mi
              requests:
                cpu: 50m
            args:
              - "new"
              - "João Nóbrega"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
              runAsNonRoot: true
              runAsUser: 1002
              runAsGroup: 100
              seccompProfile: {type: RuntimeDefault}
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.107.0@sha256:4b622c4cd1b0f559fec0df67fcf09042d63e9ce84c575102066afd9511695627
            securityContext:
              runAsUser: 0
            args: ["--auth", "none", "--disable-telemetry", "--disable-update-check", "--user-data-dir", "/tmp/.vscode", "--extensions-dir", "/tmp/.vs1ode", "--port", "8081", "/config"]
    defaultPodOptions:
      automountServiceAccountToken: false
    service:
      code-server:
        controller: *app
        ports:
          http:
            port: &codePort 8081
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - code-cv.${SECRET_DOMAIN}
        rules:
          - backendRefs:
              - name: renderercv-code-server
                port: *codePort
            matches:
              - path:
                  type: PathPrefix
                  value: /
    persistence:
      config:
        type: nfs
        server: ${NFS_SERVER}
        path: /docs
        advancedMounts:
          *app :
            app:
              - path: /work
            code-server:
              - path: /config
      temp:
        enabled: true
        type: emptyDir
        advancedMounts:
          main:
            code-server:
              - path: /tmp/.vscode
