# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app it-tools
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      it-tools:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/it-tools
              tag: 2024.10.22
            env:
              TZ: Europe/Lisbon
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 15m
                memory: 105M
              limits:
                cpu: 25m
                memory: 150M
    service:
      tools:
        controller: *app
        ports:
          http:
            port: &port 80
    route:
      main:
        hostnames: ["it-tools.jnobrega.com"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: websecure
        rules:
          - backendRefs:
              - name: it-tools
                port: *port
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: traefik.io
                  kind: Middleware
                  name: authentik-outpost
