# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
  namespace: kube-system
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: reflector
    namespace: flux-system
  values:
    configuration:
      logging:
        minimumLevel: Debug
