# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.7.3/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app watch-your-lan
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  values:
    defaultPodOptions:
      hostNetwork: true
      dnsPolicy: "ClusterFirstWithHostNet"
      automountServiceAccountToken: false
      securityContext:
        seccompProfile: {type: RuntimeDefault}
    controllers:
      watch-your-lan:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
              pullPolicy: IfNotPresent
            envFrom: &secret
              - secretRef:
                  name: watch-your-lan-secret
        containers:
          app:
            image:
              repository: ghcr.io/aceberg/watchyourlan
              tag: 2.1.4@sha256:f77532ca7c3c9a4398cb094df7674013a3d7fcf4699386f1e456c24df6fef00e
              pullPolicy: IfNotPresent
            env:
              TZ: Europe/Lisbon
              THEME: darkly
              USE_DB: postgres
              PROMETHEUS_ENABLE: "true"
              IFACES: eno1
              HIST_IN_DB: "true"
            securityContext:
              capabilities:
                add:
                  - NET_RAW
                  - NET_ADMIN
            envFrom: *secret
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
    service:
      watch-your-lan:
        controller: watch-your-lan
        ports:
          http:
            port: &port 8840
    persistence:
      data:
        enabled: true
        type: emptyDir
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - lan.jnobrega.com
        rules:
          - backendRefs:
              - name: *app
                port: *port
    serviceMonitor:
      main:
        enabled: true
        serviceName: watch-your-lan
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m
            scrapeTimeout: 10s
