# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      n8n:
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: n8n-secret
        containers:
          n8n:
            image:
              repository: docker.io/n8nio/n8n
              tag: 2.8.2@sha256:565e7df2b15c18f469f8b2d43e0349eaf6a500a0066e5adcce98e441cebfe6f8
            env:
              #===CORE SETTINGS===
              N8N_VERSION_NOTIFICATIONS_ENABLED: false
              N8N_PERSONALIZATION_ENABLED: true
              N8N_TEMPLATES_ENABLED: true
              N8N_HIRING_BANNER_ENABLED: false
              N8N_USER_MANAGEMENT_DISABLED: false
              N8N_MFA_ENABLED: "false"
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"
              GENERIC_TIMEZONE: Europe/Lisbon
              #===NETWORK & URL CONFIGURATION===
              N8N_PORT: &port 5678
              N8N_PROTOCOL: "https"
              N8N_HOST: &host "n8n.jnobrega.com"
              WEBHOOK_URL: "https://n8n.jnobrega.com"
              N8N_PROXY_HOPS: "1"
              #===API CONFIGURATION===
              N8N_PUBLIC_API_DISABLED: false
              N8N_PUBLIC_API_SWAGGERUI_DISABLED: true
              #===LOGGING & DIAGNOSTICS===
              N8N_LOG_LEVEL: debug
              N8N_LOG_OUTPUT: console
              N8N_DIAGONISTICS_ENABLED: false
              N8N_METRICS: true
              #===EXECUTION & DATA MANAGEMENT===
              EXECUTIONS_DATA_PRUNE: true
              EXECUTIONS_DATA_MAX_AGE: 7
              N8N_RUNNERS_ENABLED: "true"
              #===COMMUNITY PACKAGES & EXTENSIONS===
              N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE: "true"
              NODE_FUNCTION_ALLOW_BUILTIN: "*"
              #===SMTP CONFIGURATION===
              N8N_SMTP_HOST: mail.gmx.com
              N8N_SMTP_PORT: 587
              N8N_SMTP_SSL: "false"
            resources:
              requests:
                cpu: 20m
                memory: 256M
              limits:
                memory: 512M
            envFrom:
              - secretRef:
                  name: n8n-secret
    service:
      n8n:
        controller: n8n
        ports:
          http:
            port: *port
    route:
      main:
        parentRefs:
          - kind: Gateway
            name: internal
            namespace: network
            sectionName: websecure
        hostnames:
          - n8n.jnobrega.com
        rules:
          - backendRefs:
              - name: n8n
                port: *port
      webhook:
        parentRefs:
          - kind: Gateway
            name: external
            namespace: network
            sectionName: websecure
        hostnames:
          - n8n-webhook.jnobrega.com
        rules:
          - backendRefs:
              - {}
    persistence:
      config:
        existingClaim: n8n
        advancedMounts:
          n8n:
            n8n:
              - path: /home/node/.n8n
    serviceMonitor:
      main:
        enabled: true
        serviceName: n8n
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
