---
# yaml-language-server: $schema=https://kubernetes-schemas.ergho.org/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kyverno
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: kyverno
    namespace: flux-system
  uninstall:
    keepHistory: false
  values:
    crds:
      install: true
    grafana:
      enabled: true
    global:
      image:
        registry: ghcr.io
    admissionController:
      replicas: 1
      clusterRole:
        extraResources: &extraResources
          - apiGroups: ["*"]
            resources: ["*"]
            verbs: ["get", "list", "watch"]
      serviceMonitor:
        enabled: true
    backgroundController:
      clusterRole:
        extraResources: *extraResources
      resources:
        requests:
          cpu: 100m
        limits:
          memory: 1Gi
      serviceMonitor:
        enabled: true
    reportsController:
      clusterRole:
        extraResources: *extraResources
      serviceMonitor:
        enabled: true
    cleanupController:
      serviceMonitor:
        enabled: true